.main-bg {
  background-image: url('../img/main-bg.png');
  background-size: cover;
  background-position: center center;
  color: var(--primary-color);
}

.white-bg {
  background: #AFEEEE;
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}