.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;

}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu h1 a img {
  width: 5rem;
  height: 3rem;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2.5rem;
  font-size: 2rem;
  color: var(--light-gray-color);
  position: relative;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
  transform: scale(1.5);
}